MONGODB_URI=mongodb://bharatdhuva1750_db_user:ZYRuwXeG9AzVofxh@ac-kohf3s6-shard-00-00.rvcfhxe.mongodb.net:27017,ac-kohf3s6-shard-00-01.rvcfhxe.mongodb.net:27017,ac-kohf3s6-shard-00-02.rvcfhxe.mongodb.net:27017/task-manager-assignment?ssl=true&authSource=admin&replicaSet=atlas-zfrfja-shard-0&retryWrites=true&w=majority
PORT=3000